[[plugins]]
repo = 'Shougo/unite.vim'

[[plugins]]
repo = 'Shougo/vimproc.vim'
hook_post_update = 'make'

[[plugins]]
repo = 'tomasr/molokai'

[[plugins]]
repo = 'kana/vim-smartinput'

[[plugins]]
repo='Yggdroot/indentLine'
hook_add='''
let g:indentLine_char='|'
'''

[[plugins]]
repo='scrooloose/nerdtree'
hook_add='''
    " show dotfile
    let g:NERDTreeShowHidden=1
    map <Space>n :NERDTreeToggle<CR>
'''

[[plugins]]
repo='jistr/vim-nerdtree-tabs'
hook_add='''
    let g:nerdtree_tabs_open_on_console_startup=0
    let g:nerdtree_tabs_open_on_gui_startup=0
'''

[[plugins]]
repo = 'prabirshrestha/async.vim'
on_source = ['vim-lsp', 'asyncomplete.vim']

[[plugins]]
repo = 'prabirshrestha/asyncomplete-lsp.vim'
on_source = 'vim-lsp'
depends = ['vim-lsp', 'asyncomplete']

[[plugins]]
repo = 'prabirshrestha/asyncomplete.vim'

[[plugins]]
repo='prabirshrestha/vim-lsp'
depends=['async.vim', 'asyncomplete.vim']
hook_add='''
inoremap <C-Space> <C-x><C-o>
set omnifunc=lsp#complete
let g:lsp_diagnostics_enabled = 1
let g:lsp_diagnostics_echo_cursor = 1
let g:asyncomplete_auto_popup = 0
let g:asyncomplete_auto_completeopt = 0
let g:asyncomplete_popup_delay = 200
let g:lsp_text_edit_enabled = 1
'''

[[plugins]]
repo = 'mattn/vim-lsp-settings'
depends=['vim-lsp']
